In [9]:
import yfinance as yf
from auxillary import *
from indicators import *
from datetime import date

In [10]:
stocks = []
print("Enter the ticker symbols of interest (enter spacebar to exit)")
s = "  "
while s != " ":
    s = input("Ticker: ")
    if s == " " and len(stocks) == 0:
        print("Please enter a ticker symbol")
        s = "  "
        continue
    elif s == " ":
        break
    if s.upper() not in stocks:
        stocks.append(s.upper())
    

n = int(input("How many trading days in the future would you like to predict? "))

Enter the ticker symbols of interest (enter spacebar to exit)

In [11]:
for i in stocks:
    df = yf.Ticker(i).history(period = "max") 
    df = adjustPrices(df)
    df["Future_Price_Change"] = calculateFuturePriceChange(df,n)
    df1, df2 = createFeatures(df)
    df["Ticker"] = pd.Series([i]*len(df), index = df.index)

In [12]:
df

,Open,High,Low,Close,Volume,Future_Price_Change,ADX,ADX_Indicator,Aroon_Up,Aroon_Down,...,MACD_Crossover,OBV,RSI,RSI_Indicator,RVI,RVI_Crossover,RVI_Divergence,Stochastic_Oscillator,Stochastic_Oscillator_Indicator,Ticker
Date,,,,,,,,,,,,,,,,,,,,,
2010-03-30 00:00:00-04:00,3.068794,3.137911,3.068794,3.068794,783200,0.074710,NaN,0,NaN,NaN,...,0,783200,NaN,0,NaN,0,0,NaN,0,AC.TO
2010-03-31 00:00:00-04:00,3.110265,3.110265,2.902914,3.068794,967000,0.070213,NaN,0,NaN,NaN,...,0,783200,NaN,0,NaN,0,0,NaN,0,AC.TO
2010-04-01 00:00:00-04:00,3.104872,3.449858,3.104872,3.380860,3302800,0.020408,NaN,0,NaN,NaN,...,0,4086000,100.000000,-1,NaN,0,0,NaN,0,AC.TO
2010-04-05 00:00:00-04:00,3.463657,3.684448,3.449858,3.477456,2309000,-0.007937,NaN,0,NaN,NaN,...,0,6395000,100.000000,-1,NaN,0,0,NaN,0,AC.TO
2010-04-06 00:00:00-04:00,3.560253,3.587852,3.505055,3.518855,661000,-0.019608,NaN,0,NaN,NaN,...,0,7056000,100.000000,-1,NaN,0,0,NaN,0,AC.TO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-31 00:00:00-04:00,18.900000,19.170000,18.850000,19.150000,2621600,NaN,29.073117,0,32.0,80.0,...,0,179673400,62.087454,0,0.001888,0,0,81.283410,0,AC.TO
2023-04-03 00:00:00-04:00,19.000000,19.049999,18.690001,18.879999,1505300,NaN,27.504616,0,28.0,76.0,...,0,178168100,53.370585,0,0.033171,0,1,81.168783,0,AC.TO
2023-04-04 00:00:00-04:00,18.950001,19.070000,18.650000,18.740000,1412100,NaN,26.325150,0,24.0,72.0,...,0,176756000,49.192618,0,0.037990,0,1,72.077919,0,AC.TO
2023-04-05 00:00:00-04:00,18.650000,18.730000,18.350000,18.459999,1670200,NaN,25.295374,0,20.0,68.0,...,0,175085800,41.594904,0,0.019346,-1,0,53.896067,0,AC.TO
2023-04-06 00:00:00-04:00,18.469999,18.620001,18.250000,18.580000,1315000,NaN,24.861920,0,16.0,64.0,...,0,176400800,45.781871,0,-0.004381,0,-1,61.688325,0,AC.TO